* {
    margin: 0;
    box-sizing: border-box;
}


.toggle {
    padding: 20px;
    position: relative;
    display: inline-block;
}


.toggle-cb {
    display: none;
}


.toggle-label {
    display: block;
    width: 80px; 
    height: 30px; 
    background-color: #ccc; 
    border-radius: 15px; 
    border: gray solid 1px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}


.toggle-switch {
    position: absolute;
    top: -5px;
    left: -7px;
    width: 40px;
    height: 40px;
    border: gray solid 1px;
    background-color: white;
    border-radius: 50%;
    transition: left 0.3s ease-in-out;
}


.toggle-label .toggle-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 30px; 
    user-select: none;
    color: white;
}

.toggle-label .toggle-inner::before {
    content: 'Yes';
    position: absolute;
    font-weight: 700;
    left: 10px;
}

.toggle-label .toggle-inner::after {
    content: 'No';
    position: absolute;
    font-weight: 700;
    right: 10px;
}

.toggle-cb:checked + .toggle-label {
    background-color: rgb(224, 33, 33);
}

.toggle-cb:checked + .toggle-label .toggle-switch {
    left: calc(100% - 30px); 
}
