* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 20px;

}

.menu-open-button {
    display: block;
    width: 60px; 
    height: 60px;
    border-radius: 50%; 
    background: #e1003c; 
    position: relative;
    cursor: pointer;
    user-select: none;
    margin-bottom: 20px;
    transition: 0.3s;
    
}

.menu-open-button:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

.menu-line {
    background: white;
    position: absolute;
    left: 20px;
    right: 20px;
    height: 2px;
    transition: transform 0.5s ease;
}

.menu-line-1 {
    top: 20px;
}

.menu-line-2 {
    top: 29px;
}

.menu-line-3 {
    top: 38px;
}


.menu-open:checked + .menu-open-button .menu-line-1 {
    transform: translateY(9px) rotate(45deg);
}

.menu-open:checked + .menu-open-button .menu-line-2 {
    opacity: 0;
}

.menu-open:checked + .menu-open-button .menu-line-3 {
    transform: translateY(-9px) rotate(-45deg);
}


.menu-item {
    display: none;
    position: relative;
    background: #e1003c; 
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateY(0);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    margin-top: 10px;
   
}

@keyframes iconPop {
    0% {
        transform: scale(1) translateY(var(--translateY)) ;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

@keyframes iconPopReverse {
    0% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
    50% {
        transform: scale(1) translateY(var(--translateY));
        opacity: 1;
    }
    100% {
        transform: scale(1) translateY(var(--translateY));
        opacity: 0;
    }
}



.menu-open:checked ~ a {
    display: flex;
    text-decoration: none;
    animation: iconPop 0.05s ease-out forwards;   
    
}
.menu-open:not(:checked) ~ a {
    display: flex;
    text-decoration: none;
    animation: iconPopReverse 0.05s ease-out backwards;
}
.menu-open:checked ~ a:nth-child(2) {
    --translateY: -50px;
    animation-delay: 0.05s;  
}

.menu-open:not(:checked) ~ a:nth-child(2) {
    --translateY: -50px;
    animation-delay: 0.3s;  
}

.menu-open:checked ~ a:nth-child(3) {
    --translateY: -40px;
    animation-delay: 0.1s;  
}

.menu-open:not(:checked) ~ a:nth-child(3) {
    --translateY: -50px;
    animation-delay: 0.25s;  
}

.menu-open:checked ~ a:nth-child(4) {
    --translateY: -30px;
    animation-delay: 0.15s;  
}

.menu-open:not(:checked) ~ a:nth-child(4) {
    --translateY: -50px;
    animation-delay: 0.2s;  
}

.menu-open:checked ~ a:nth-child(5) {
    --translateY: -20px;
    animation-delay: 0.2s;  
}

.menu-open:not(:checked) ~ a:nth-child(5) {
    --translateY: -50px;
    animation-delay: 0.15s;  
}

.menu-open:checked ~ a:nth-child(6) {
    --translateY: -10px;
    animation-delay: 0.25s;  
}

.menu-open:not(:checked) ~ a:nth-child(6) {
    --translateY: -50px;
    animation-delay: 0.1s;  
}

.menu-open:checked ~ a:nth-child(7) {
    --translateY: -10px;
    animation-delay: 0.3s;  
}
.menu-open:not(:checked) ~ a:nth-child(7) {
    --translateY: -50px;
    animation-delay: 0.05s;  
}


.menu-item:hover {
background-color: #fff;
color: #e1003c; 
border: #e1003c solid 1px;
}

.menu-item:hover i {
    color: #e1003c; 
}

.menu-item i {
color: #fff;
font-size: 24px; 
}

.menu-open {
display: none;
}